<!DOCTYPE html>
<html lang="en">
	<head>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/js_script.js"></script>
        <script src="js/vue_script.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
        <meta charset="utf-8"/>
            <title>Outrun</title>
	</head>






	<body>



		<main>
            <h1 class="head">Outrun Café</h1>
        </main>



		<section id="info">


        <div class="wrapper">

            <div class="box a">The Cow Burger<br>
                <img src="https://vignette.wikia.nocookie.net/spongebob/images/e/e8/Kp.png/revision/latest?cb=20160826171430" alt="Span" title="Burger Cow" ><br>
                    <ul>
                        <li>Best</li>
                        <li>Lovely</li>
                        <li>Nice!</li>
                    </ul>   
            </div>

               <div class="box b">The Wow Burger<br>
                <img src="https://vignette.wikia.nocookie.net/spongebob/images/e/e8/Kp.png/revision/latest?cb=20160826171430" alt="Span" title="Cow Burger" ><br>
                    <ul>
                        <li>Better</li>
                        <li>Lovingly</li>
                        <li>Sweet!</li>
                    </ul>
            </div>


            <div class="box c">The Cute Burger<br>
                <img src="https://vignette.wikia.nocookie.net/spongebob/images/e/e8/Kp.png/revision/latest?cb=20160826171430" alt="Span" title="Red-Black Burger" ><br>
                <ul>
                        <li>Beutiful</li>
                        <li>Love</li>
                        <li>Yes!</li>
                </ul>
            </div>

        </div>
		</section>



        <br>







		<main>
			<section id="contact">
			<h2>Delivery information</h2>
        	<form>
        		<p>
    				<label for="First- and lastname">Fullname</label><br>
    				<input id="First- and lastname" name="fn" required="required" placeholder=" First- and lastname" type="text">
				</p>
				<p>
    				<label for="Street name">Street</label><br>
    				<input id="Street" name="ln" placeholder=" Street name" type="text">
				</p>
				<p>
    				<label for="House number">House</label><br>
    				<input id="House" name="ln" placeholder=" House number" type="text">
				</p>
				<p>
					<label for="E-mailaddress">E-Mail</label><br>
   			 		<input id="email" name="em" required="required" placeholder=" E-mail address" type="email">
				</p>
				<p>
    				<label for="Payment">Payment options</label><br>
    				<select id="Payment" name="rcp">
        				<option>Credit Card</option>
        				<option>Debit Card</option>
        				<option>Paypal</option>
        				<option>Swish</option>
    				</select><br>
    				<br>
  				<input type="radio" name="gender" value="male" checked> Male<br>
  				<input type="radio" name="gender" value="female"> Female<br>
  				<input type="radio" name="gender" value="Non-binary "> Non-binary<br>
  				<input type="radio" name="gender" value="Undisclosed"> Undisclosed<br>
				</p>
        	</form>
             <button><span>
            <div>Place your order!</div>
        </button></span>
    		</section>
		</main>
        <br>
        
		<footer>
			<small>&copy; Copyright 1843, Hornboskapen Inc.</small>  
		</footer>

	</body>
</html>