.head {

	color: #f129cb;	
    font-family: 'Nova Flat';font-size: 120px;
    text-align: center;
}


body{
    font-family: 'Nova Flat';
     font-size: 14px;
     margin: 0px 4px;
     background-image: url("http://orig05.deviantart.net/dc13/f/2016/098/e/d/rolly_rocket_by_valenberg-d9y6rvp.gif");
     background-attachment: fixed;
     background-size: contain;
     width: 100%;
     margin-top: 10cm;

}

input[type="text"] {
	border-radius: 1em;
	font-family: 'Nova Flat';
	border: 2px dotted #ff9900;
}

input[type="email"] {
	border-radius: 1em;
	font-family: 'Nova Flat';
	border: 2px dotted #ff9900;
}


.wrapper {
	border-radius: 25px;
     display: grid;
     background-color: #f129cb;
     opacity: 0.9;
     color: #00bfff;
     border-radius: 10px;
     padding: 3em 3em;
     margin: auto;
     width:80%;
     position: relative;
 }


 img {
 	height: 300px;
 	width: auto;
 }

 .box {
     color: #00bfff;
     font-size: 2.5em;
 	margin: auto;
 	text-align: center;

 }

 .a {
     grid-column: 1;
     grid-row: 1;
     display: block;
 }

 .b {
     grid-column: 2;
     grid-row: 1;
     display: block;

 }

 .c {
     grid-column: 3;
     grid-row: 1;
     display: block;
 }
input[type="radio"] {
   text-align: left;
}
#contact {
    text-align: center;
	font-family: 'Nova Flat';
	margin: auto;
	border-radius: 10px;
	border: 2px dotted #ff9900;
	padding: 1em 1em;
	width: 18%;
	height: auto;
	color: #f129cb;
	font-size: 2em;
	background-color: #00bfff;
	opacity: 0.8;
}



button{
	background-color: orange;
	width: 10em;
	height: 5em;
	border-radius: 8px;
	font-family: 'Nova Flat';
}

button:hover {
	 cursor:pointer;

}

footer {
	color: #f129cb;
}

